*{
	margin:0;
	padding: 0;
}
body{
	font-family: cursive;
}

/*.container{

width: 200px;
height:auto;
justify-content: center;

}*/

ul li{
	list-style: none;
}
.header{
	
    background-image: url('./image/gettyimages.jpg');
    margin-top:100px;
    margin-left:250px;
    height: 200px;
    width: 400px;
    border-radius: 10px 10px 0px 0px;
}
.clear{
	position:relative;
	left:360px;
	/*bottom:100px;*/
	font-style: italic;
	top:5px;
	color:white;
 text-shadow: 1px 4px   black ;
 font-weight: bold;




}
.content{
	 margin-left:250px;
	  /*height: 400px;
*/     width: 400px;
     
    /* justify-content: center;*/

}
.item{
	padding: 1px;
	border:1px solid black;
	font-size: 16px;
	color:black;
	

	
}
/*date position*/
.agenda{
	text-align: center;
	font-size: 18px;
	font-family: serif;
	color: blue;
}
.date{
	position:relative;
	left:150px;
	/*bottom:100px;*/
	font-style: italic;
	top:40px;
	color:white;
 text-shadow: 1px 4px   black ;
 font-weight: bold;

	/*margin-left:60px;
	padding:100px;
	color:black;
*/}
.lieu{
	position:relative;
	left:150px;
	/*bottom:100px;*/
	font-style: italic;
	top:40px;
color:white;
text-shadow: 1px 4px   black ;
font-weight: bold;
*/}
.degre{
	position:absolute;
	left:500px;
	/*bottom:100px;*/
	font-style: italic;
	top:260px;
	color:white;
text-shadow: 1px 4px   black ;
font-weight: bold;
font-size: 24px;
padding:5px;
background-color: black;
	/*margin-left:60px;
	padding:100px;
	color:black;
*/}
#task{
	width: 373px;
	border-radius: 5px 5px;
	background-color: #edf;
	
}
#task:focus{
	background-color: white;
}

/*boutton Delete*/

.delete:hover{
   color: red;


}

.delete{
font-size: 32px;
}



.complete{
/*margin-left:50px;
*/
}
.complete:hover{
color: yellow;
}